.btn{
    border: none;
    padding: 10px;
    animation-name: btn;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-direction: normal;
}
@keyframes btn {
    from{
        width: 20px;
        height: 20px;
        background-color: tomato;
    }
    to{
        width: 200px;
        height: 150px;
        background-color: violet;
        color: red;
    }
}


/* .btn:hover{
    color: red;
    width: 200px;
    height: 150px;
    background-color: gold;
    cursor: pointer;
} */

